@define-color bg_normal #5d5d5d;
@define-color bg_normal_transparent rgba(127, 127, 127, 0.5);
@define-color bg_button #464646;
@define-color bg_titlebar_accent #2bd9c3;
@define-color bg_titlebutton #222;
@define-color bg_titlebar_backdrop #464646;
@define-color bg_active #9d9d9d;
@define-color bg_selected #22aa99;
@define-color bg_selected_transparent rgba(0xbb, 0xbb, 0xbb, 0.25);
@define-color bg_prelight rgba(0x46, 0x46, 0x46, 0.75);
@define-color bg_insensitive #7f7f7f;
@define-color bg_insensitive_transparent rgba(0x9d, 0x9d, 0x9d, 0.3);
@define-color bg_overshoot rgba(0x1f, 0x1f, 0x1f, 0.5);

@define-color fg_normal #D9D9D9;
@define-color fg_button #D9D9D9;
@define-color fg_titlebutton #D9D9D9;
@define-color fg_titlebar_backdrop #22AA99;
@define-color fg_active #464646;
@define-color fg_selected #D9D9D9;
@define-color fg_prelight #222;
@define-color fg_insensitive #5d5d5d;

@define-color border_normal #464646;
@define-color border_highlight #bbbbbb;
@define-color border_interactive #222;
@define-color border_destructive #aa2222;

@define-color button_close	#cc3333;
@define-color button_minimize	#cca700;
@define-color button_maximize	#9a19a6;
@define-color button_menu	#179917;

@define-color notify_bg	#D9D9D9;
@define-color notify_fg	#222;
@define-color notify_border	#222;
@define-color notify_button_bg	#D9D9D9;
@define-color notify_button_fg	#222;
@define-color notify_button_border	#d9d9d9;
@define-color notify_progress	#7f7f7f;

@define-color shadow_titlebar rgba(0x46,0x46,0x46,0.7);
@define-color shadow_popover rgba(0x46,0x46,0x46,0.7);
