
#whiskermenu-window
{	border :	1px solid @border_normal;	}

XfdesktopIconView.view:active{
	color:	@fg_selected;
	background-color:	@bg_selected_transparent;
}
XfdesktopIconView{
	font-weight: 600;
}
XfdesktopIconView:not(:selected){
	text-shadow:  
   -1px -1px 1px #7f7f7f,
    1px -1px 1px #7f7f7f,
    -1px 1px 1px #7f7f7f,
     1px 1px 1px #7f7f7f;
}

#XfceNotifyWindow .osd, #XfceNotifyWindow{
	background-color: @notify_bg;
	color:	@notify_fg;
	border: 3px solid @notify_border;
	border-radius:	1.15em;
}

#XfceNotifyWindow .osd:hover, #XfceNotifyWindow:hover,
#XfceNotifyWindow:hover label, #XfceNotifyWindow:hover GtkLabel#body{
	background-color:	@bg_normal;
	color:			@fg_normal;
}

#XfceNotifyWindow:hover{
	border-color:	@border_normal;
}


#XfceNotifyWindow button:hover, #XfceNotifyWindow GtkButton:hover{
	color:	@fg_selected;
	background-color:	@bg_prelight;
}


#XfceNotifyWindow label, #XfceNotifyWindow GtkLabel#body{
	text-shadow: none;
}
#XfceNotifyWindow label#summary, #XfceNotifyWindow GtkLabel#summary{
}

#XfceNotifyWindow:hover label#summary, #XfceNotifyWindow:hover GtkLabel#summary{
}


#XfceNotifyWindow.osd progressbar, #XfceNotifyWindow GtkProgressbar{
	border:	1px solid @notify_fg;
}
#XfceNotifyWindow.osd progressbar progress, #XfceNotifyWindow GtkProgressbar.progressbar{

	background-color:	@notify_progress;
}
#XfceNotifyWindow.osd progressbar trough, #XfceNotifyWindow GtkProgressbar.trough{
	background-color:	@notify_bg;
}

.xfsm-logout-dialog, #xfwm-tabwin{
	background-color: alpha(@bg_titlebutton,0.5);
	border-radius: 0px;
	border: 3px solid @border_normal;
}
