/*
	///Basics///
*/
:not(:hover), :not(:backdrop), :disabled, switch:checked, switch:not(:checked){
	/* transition: background 0.25s ease; */
}
:hover, button:focus{
	background-color:	@bg_prelight;
	color:	@fg_normal;
}
:active{
	background-color:	@bg_active;
	color:	@fg_active;
}
:disabled:not(label){
	opacity:	0.4;
	background:	repeating-linear-gradient(-45deg, transparent,transparent 5px, @bg_insensitive_transparent 5px, @bg_insensitive_transparent 10px);
}
selection{	background-color: @bg_selected_transparent;	}

:selected, :checked{
	text-shadow: none;
	background-color:	@bg_selected;
	color:	@fg_selected;
}

/*
	///Borders///
*/

radiobutton, switch,
entry, menubar, statusbar , searchbar,
button, checkbutton, tooltip, .tooltip,
radio,
tabs, tab,
decoration, frame > border,scrolledwindow, notebook, toolbar, actionbar, .popup,  .keycap, scrollbar trough, scrollbar:hover trough, overlay, .sidebar
{	
	border-width:	1pt;
	border-style:	solid;
}

decoration, frame > border,scrolledwindow, notebook, toolbar, actionbar, .popup,  .keycap, headerbar button, scrollbar trough, scrollbar:hover trough, overlay, .sidebar
{	border-color:	@border_normal;	}

radiobutton, switch,	radio,
entry, menubar, statusbar , searchbar,
button, checkbutton, tooltip, .tooltip,
tabs, tab
{	border-color:	@border_interactive;	}



/*	---Desktop selection color---	*/
.rubberband{
	color:	@fg_selected;
	background-color:	@bg_selected_transparent;
}

entry:hover, switch:checked{	border-color:	@fg_active;	}


checkbutton > check{ padding: 2pt; }
checkbutton > label{
	border-left: 1pt solid @border_interactive;
	padding-left: 1ex;
	padding-right: 1ex;
}

:not(checkbutton) check{
	color: @fg_normal;
	background: @bg_normal;
	border: 1px solid @border_interactive;
}

tab{
	border-top:	none;
	border-bottom:	none;
	border-left:	none;
}


label.dim-label{	color:	#f00;	}

.keycap{
	 border-radius: 5px;
	 padding-top: 0.3em;
	 padding-bottom: 0.3em;
	 padding-left: 0.5em;
	 padding-right: 0.5em;
}

infobar{	color:	white;	}
infobar.question{	background-color:	#770;	}
infobar.info{	background-color:	#77f;	}
infobar.warning, infobar.error{	background-color:	#f77;	}

cellview{
	background: transparent;
	color:	@fg_normal;
}

window, /* box, */ panel, assistant,
dialog, messagedialog, appchooserdialog, filechooserdialog, printdialog,
eventbox{
	background-color:	@bg_normal;
	color:	@fg_normal;
	/*text-shadow: 1px 1px 0px @bg_normal;*/
	/* border:	1px solid @fg_active; */
	border:	none;
}
button, checkbutton, tooltip, .tooltip{
	min-width:	1ex;
	min-height:	1ex;
	background:	@bg_button;
	text-shadow: none;
	color:	@fg_button;
	margin:	1pt;
	padding: 0px;
}

button,	check,	.toggle{ border-bottom-width: 3pt;}
button:active,	check:active,	radio:active,	.toggle:active,
button:checked,	check:checked,	radio:checked,	.toggle:checked,
button:disabled,	check:disabled,	radio:disabled,	.toggle:disabled,
button:backdrop,	check:backdrop,	radio:backdrop,	.toggle:backdrop{ 
	border-bottom-width: 1pt;
	margin-top: 3pt;
}

/*
 * 	//Interactive elements//
 */

radiobutton, switch, popover, entry, menubar, statusbar ,toolbar, searchbar, actionbar{
	min-width:	1rem;
	min-height:	1rem;
	background-color:	@bg_normal;
	color:	@fg_normal;
	padding: 0px;
}
radio{	
	color:	@fg_prelight;
	min-width: 1rem;
	min-height: 1rem;
	border-radius: 50%;
	border-bottom-width: 0.5ex;
}
accelerator{
	color: @fg_active;
	font-size: 0.75em;
	border: 1pt dotted @border_highlight;
}

radio:hover{	
/*
	background-color:	@bg_active;
	color:	@fg_active;
*/
	border-color: @fg_prelight;
}

switch		{	background-color:	@bg_insensitive;	}
scale contents *, scale contents:hover{
	min-width:		10px;
	min-height:		10px;
	padding:	0em;
}
scale marks indicator, scale, contents:hover{	
	min-height:	0.75em;
	min-width:	0.75em;
	background-color:	transparent;
	color:	@fg_normal;
}


switch slider	{
	background-color:	@fg_insensitive;
	border-radius: 0px;
}
switch slider:checked{	background-color:	@bg_normal;	}


scale{	margin: 1.5ex; }

scale contents, scale contents:hover{
	background-color: @bg_normal;	
	border:	1pt solid @border_interactive;
	border-radius: 2ex;
}

scale contents trough{	
	padding-left: 1ex;
	padding-right: 1ex;
	padding-top: 0;
	padding-bottom: 0ex;
}

scale contents highlight{		background-color:	@bg_selected;	}
scale slider, scale slider:hover, scale slider:active{	
	background-color:	@bg_normal;	
	border:	1pt solid @border_normal;
	border-radius: 50%;
	border-bottom-width: 0.75ex;
}


button, entry, toolbar{
	padding:	0.35em;
}
/*
searchbar *{
	background-color:	#f00;
	color:	#00f;
	border:	1px solid @fg_active;
}
*/

/*
	========-HEADERBAR & TITLEBUTTONS-========
*/
headerbar, headerbar:hover, .titlebar, titlebar:hover{
	padding-left:	5px;
	padding-right:	5px;
	padding-top:	2px;
	padding-bottom:	3px;
	min-height:	22px;
	color:			@fg_selected;
	background:	repeating-linear-gradient(
							  @bg_selected,
							  @bg_selected 3px,
							  @bg_titlebar_accent 3px,
							  @bg_titlebar_accent 6px);
	/*border-radius:	5px 5px 0px 0px;*/
}
headerbar:not(:backdrop){ box-shadow: 0px 0.5ex 3px @shadow_titlebar; }

window > decoration{ border: 1.5pt solid @bg_titlebar_accent; }

label.title{	
	font-size:	12px;
	font-weight: 700;
	background-color:	@bg_selected;
	border:	1pt solid @fg_selected;
	text-shadow: none;
}

.titlebar:backdrop{	
	background-color:	@bg_titlebar_backdrop;
	color: @fg_titlebar_backdrop;
	background-image:	none;
}
window > decoration:backdrop{ border-color: @border_normal; }

headerbar .title{   
	background-color:       @bg_selected;
	/*border: 1px solid @fg_selected;*/
	padding-left : 0.5em;
	padding-right : 0.5em;
	padding-top : 0.2em;
	padding-bottom : 0.3em;
}

headerbar:backdrop .title{   
 background-color: transparent;
 border: none;
}

button.suggested-action	{ border-color: @border_highlight; }
button.destructive-action	{ border-color: @border_destructive; }

button.titlebutton{
	min-width:	15px;
	min-height:	15px;
	margin:	0px;
	background-color:	@bg_titlebutton;
	background-position: center;
	color:	transparent;
	border-color:	@fg_titlebutton;
	transition: background 0.25s ease; 
}


:not(headerbar) button, switch{	border-radius:	5px;	}

headerbar button:not(.titlebutton){	
	background:	@bg_button;
	color:	@fg_button;
	/* border-color:	@border_button; */
}
headerbar button:not(.titlebutton):checked{
	background-color:	@bg_active;
	color:	@fg_active;
	border-color:	@border_normal;
}
headerbar:backdrop :not(.titlebutton){   
 /*border: none;*/
 background: transparent;
}
headerbar button.radio, button.path-bar-button, header button{
        border-radius: 0px;
        margin: 0px;
        border-right-width: 0.5pt;
        border-left-width: 0.5pt;
}
header button, .titlebutton{
	border-radius: 0px 0px 0px 0px;
}
header button:first-child{
	border-bottom-left-radius: 5px;
}
header button:last-child{
	border-bottom-right-radius: 5px;
}
headerbar button.radio:first-child, button.path-bar-button:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
}
headerbar button.radio:last-child, button.path-bar-button:last-child{
        border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;
        border-right-width: 1pt;
}


.titlebutton image{
	color:	transparent;
	background-repeat:	no-repeat;
}

/* Window button icons. Generated using CSS gradients */
.titlebutton.close image, .titlebutton.close:active image {	background: linear-gradient(-45deg, transparent 45%, @button_close 20%, @button_close 55%, transparent 30%), linear-gradient(45deg, transparent 43%, @button_close 20%, @button_close 57%, transparent 15%);	}
.titlebutton.minimize image, .titlebutton.minimize:active image{	background-image:	radial-gradient(farthest-corner at 50%, @button_minimize 30%,@button_minimize 30%,  transparent 30%); }
.titlebutton.maximize image{
	background: linear-gradient(to top right, @button_maximize 24%, transparent 24%, transparent 75%, @button_maximize 75%);
	/* linear-gradient(to bottom, @fg_titlebutton, @fg_titlebutton 25%,transparent 25%, transparent 90%, @fg_titlebutton 90%), linear-gradient(to right, @fg_titlebutton, @fg_titlebutton 10%,transparent 10%, transparent 90%, @fg_titlebutton 90%);*/
}
.titlebutton.menu image, .titlebutton.menu:active image{	background: linear-gradient(to bottom, transparent, transparent 15%, @button_menu 15%, @button_menu 25%,transparent 25%, transparent 45%, @button_menu 45%,@button_menu 55%, transparent 55%, transparent 75%, @button_menu 75%, @button_menu 85%, transparent 85%);	}

/* Icons in backdrop */
.titlebutton.close:backdrop image {	background: linear-gradient(-45deg, transparent 45%, @fg_titlebar_backdrop 20%, @fg_titlebar_backdrop 55%, transparent 30%), linear-gradient(45deg, transparent 43%, @fg_titlebar_backdrop 20%, @fg_titlebar_backdrop 57%, transparent 15%);	}
.titlebutton.minimize:backdrop image{	background-image:	radial-gradient(farthest-corner at 50%, @fg_titlebar_backdrop 30%,@fg_titlebar_backdrop 30%,  transparent 30%); }
.titlebutton.maximize:backdrop image{
	background-image: linear-gradient(to top right, @fg_titlebar_backdrop 24%, transparent 24%, transparent 75%, @fg_titlebar_backdrop 75%);
	/*linear-gradient(to bottom, @fg_titlebar_backdrop, @fg_titlebar_backdrop 25%,transparent 25%, transparent 90%, @fg_titlebar_backdrop 90%), linear-gradient(to right, @fg_titlebar_backdrop, @fg_titlebar_backdrop 15%,transparent 15%, transparent 90%, @fg_titlebar_backdrop 90%);*/
}
.titlebutton.menu:backdrop image{	background-image:	linear-gradient(to bottom, transparent, transparent 15%, @fg_titlebar_backdrop 15%, @fg_titlebar_backdrop 25%,transparent 25%, transparent 45%, @fg_titlebar_backdrop, @fg_titlebar_backdrop 55%, transparent 55%, transparent 75%, @fg_titlebar_backdrop 75%, @fg_titlebar_backdrop 85%, transparent 85%);	}


.titlebutton:not(:backdrop).close, .titlebutton:backdrop.close:hover		{	border-color:	@button_close;		}
.titlebutton:not(:backdrop).minimize, .titlebutton:backdrop.minimize:hover	{	border-color:	@button_minimize;	}
.titlebutton:not(:backdrop).maximize, .titlebutton:backdrop.maximize:hover	{	border-color:	@button_maximize;	}
.titlebutton:not(:backdrop).menu, .titlebutton:backdrop.menu:hover		{	border-color:	@button_menu;		}

.titlebutton:backdrop{	
	background:	@bg_titlebar_backdrop;
	color:	@fg_titlebar_backdrop;
	border-color: @fg_titlebar_backdrop;
}



/*
	======-Tabs, Menus, Containers-======
*/
tab, tabs button{
	font-size:	1.1em;
	padding:	0.5em;
	background:	@bg_button;
	color:	@fg_button;
}
tabs{	
	background-color:	@bg_normal;
	background-image:	repeating-linear-gradient(
							  transparent,
							  transparent 1px,
							  @bg_insensitive_transparent 1px,
							  @bg_insensitive_transparent 2px);
}





menu, .menu{	
	font-family:	default;
	font-size:	0.9em;
}

scrollbar{
	min-width: 1pt;
	min-height: 1pt;
}



scrollbar trough, scrollbar button, scrollbar:hover :not(button):not(slider){	background-color:	@bg_normal;	}

scrollbar slider, scrollbar:active slider{
	min-width: 3pt;
	min-height: 3pt;
	background-color:	@bg_selected;
	color:	@fg_selected;
}
scrollbar:hover slider{
	min-width: 1em;
	min-height: 1em;
}


tabs,.sidebar{	
	border-bottom:	none;
	padding:	0px;
}
notebook{	border-top:	none;	}


notebook > header, .menu, menubar, toolbar{	
	border:	none;
	border-bottom:	1pt solid @border_normal;
}
menuitem{
	padding: 0.5em;
}
arrow{
	background:	@fg_active;
	min-width:	1.2ex;
	min-height:	1.2ex;
}
combobox > box > button > box > arrow{	background-color:	@fg_normal;	}

overshoot{
	background:	@bg_overshoot;
}

separator{	
	min-height: 1px;
	min-width: 1px;
	background-color:	@fg_active;
}


progressbar trough, levelbar{
	background-color:	transparent;
	color:	@fg_normal;
	border:	1pt solid @border_normal;
}

progressbar progress, levelbar trough{
	background-color:	@fg_active;
}

popover{ 
	border: 2px solid @border_normal;
	border-radius: 5px;
	/*box-shadow: 1px 1px 2px @shadow_popover;*/
 }
